.widget-future-banner .future-nav-prev,
.widget-future-banner .future-nav-next {
  filter: "alpha(opacity=50)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.widget-future-banner:hover .future-nav-prev,
.widget-future-banner:hover .future-nav-next {
  filter: "none";
  -ms-filter: "none";
}
.future-slide .raster-fallback {
  height: 100%;
  margin: 0 auto;
}

