.future-slide {
  text-align: center;
}
.future-slide:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.future-slide > figcaption {
  display: inline-block;
  vertical-align: middle;
}
.future-slide .raster-fallback {
  height: 100%;
  margin: 0 auto;
}

